/* START variable COLORS */
/* END: variable COLORS */
/* line 17, C:/xampp/htdocs/mediavuk/sass/style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, C:/xampp/htdocs/mediavuk/sass/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, C:/xampp/htdocs/mediavuk/sass/style.scss */
body {
  line-height: 1;
  font-family: 'PT Sans', sans-serif;
}

/* line 34, C:/xampp/htdocs/mediavuk/sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 37, C:/xampp/htdocs/mediavuk/sass/style.scss */
blockquote, q {
  quotes: none;
}

/* line 41, C:/xampp/htdocs/mediavuk/sass/style.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 46, C:/xampp/htdocs/mediavuk/sass/style.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 50, C:/xampp/htdocs/mediavuk/sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 54, C:/xampp/htdocs/mediavuk/sass/style.scss */
h1 {
  font-size: 28px;
  letter-spacing: 12px;
  margin-bottom: 100px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3A3A3A;
  line-height: 50px;
}

/* line 64, C:/xampp/htdocs/mediavuk/sass/style.scss */
h2 {
  font-size: 28px;
}

/* line 68, C:/xampp/htdocs/mediavuk/sass/style.scss */
h3 {
  font-size: 22px;
}

/* WIDTH */
/* line 75, C:/xampp/htdocs/mediavuk/sass/style.scss */
.width-90 {
  width: 90%;
  margin: 0 auto;
}

/* line 80, C:/xampp/htdocs/mediavuk/sass/style.scss */
.width-80 {
  width: 80%;
  margin: 0 auto;
}

/* line 85, C:/xampp/htdocs/mediavuk/sass/style.scss */
.width-70 {
  width: 70%;
  margin: 0 auto;
}

/* line 90, C:/xampp/htdocs/mediavuk/sass/style.scss */
.width-60 {
  width: 60%;
  margin: 0 auto;
}

/* line 95, C:/xampp/htdocs/mediavuk/sass/style.scss */
.width-1600 {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

/* line 102, C:/xampp/htdocs/mediavuk/sass/style.scss */
.width-1280 {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* line 108, C:/xampp/htdocs/mediavuk/sass/style.scss */
.width-1160 {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

/* line 114, C:/xampp/htdocs/mediavuk/sass/style.scss */
.width-980 {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

/* END: WIDTH */
/* MARGINS */
/* line 125, C:/xampp/htdocs/mediavuk/sass/style.scss */
.margin-top-50 {
  margin-top: 50px;
}

/* line 129, C:/xampp/htdocs/mediavuk/sass/style.scss */
.margin-top-100 {
  margin-top: 100px;
}

/* line 133, C:/xampp/htdocs/mediavuk/sass/style.scss */
.margin-bottom-100 {
  margin-bottom: 100px;
}

/* END: MARGINS */
/* FONT WEIGHT */
/* line 140, C:/xampp/htdocs/mediavuk/sass/style.scss */
.fw-600 {
  font-weight: 600;
}

/* line 144, C:/xampp/htdocs/mediavuk/sass/style.scss */
.fw-500 {
  font-weight: 500;
}

/* FONT WEIGHT */
/* line 150, C:/xampp/htdocs/mediavuk/sass/style.scss */
.sub-title {
  font-size: 25px;
  color: #3A3A3A;
  font-weight: 600;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* line 159, C:/xampp/htdocs/mediavuk/sass/style.scss */
.description {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  text-transform: capitalize;
  margin-top: 20px;
}

/* line 168, C:/xampp/htdocs/mediavuk/sass/style.scss */
.dots-border {
  background-image: url(../img/border2.png);
  background-repeat: repeat;
  width: 100%;
  height: 5px;
}

/****************** START WEBSITE BODY ******************/
/* line 178, C:/xampp/htdocs/mediavuk/sass/style.scss */
.page-structure {
  position: relative;
  overflow: hidden;
}

/* line 181, C:/xampp/htdocs/mediavuk/sass/style.scss */
.page-structure .background-img {
  position: absolute;
  z-index: -1;
}

/* line 185, C:/xampp/htdocs/mediavuk/sass/style.scss */
.page-structure .lines1 {
  top: 21%;
  right: 2%;
}

/* line 189, C:/xampp/htdocs/mediavuk/sass/style.scss */
.page-structure .Gelements2 {
  top: 45%;
  left: 0;
}

/* line 193, C:/xampp/htdocs/mediavuk/sass/style.scss */
.page-structure .Dot {
  top: 11%;
  right: 30%;
}

/* line 197, C:/xampp/htdocs/mediavuk/sass/style.scss */
.page-structure .Dot2 {
  top: 59%;
  right: 24%;
}

/* line 201, C:/xampp/htdocs/mediavuk/sass/style.scss */
.page-structure .Dot3 {
  top: 61%;
  right: 9%;
}

/* line 205, C:/xampp/htdocs/mediavuk/sass/style.scss */
.page-structure .Square {
  top: 55%;
  right: 17%;
}

/****************** START Header ******************/
/* line 214, C:/xampp/htdocs/mediavuk/sass/style.scss */
header .header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 219, C:/xampp/htdocs/mediavuk/sass/style.scss */
header .header .logo {
  width: 100px;
}

/* framework menu */
/* END: framework menu */
/* line 228, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content {
  background-color: #171717;
  height: 1000px;
}

/* line 231, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  padding-top: 200px;
}

/* line 236, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu ul {
  width: 360px;
}

/* line 241, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu .menu__links li a {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 0.32em;
  text-decoration: none;
  color: #e4e4e4;
  line-height: 87px;
}

/* line 253, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu .menu__services li, .menu-content .menu .menu__contact li {
  line-height: 73px;
}

/* line 255, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu .menu__services li:nth-child(1), .menu-content .menu .menu__contact li:nth-child(1) {
  color: #A99160;
  font-size: 26px;
  font-style: italic;
  font-family: 'Crimson Text', serif;
  letter-spacing: 0.07em;
}

/* line 263, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu .menu__services a, .menu-content .menu .menu__services p, .menu-content .menu .menu__contact a, .menu-content .menu .menu__contact p {
  text-decoration: none;
  color: #B9B9B9;
  font-size: 18px;
  letter-spacing: 0.2em;
}

/* line 273, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu .menu__contact li .menu__icon__mobile, .menu-content .menu .menu__contact li .menu__icon__email {
  margin-right: 10px;
}

/* line 278, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu .menu__contact li .menu__icon__mobile img {
  width: 12px;
}

/* line 283, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu .menu__contact li .menu__icon__email img {
  width: 24px;
}

/* line 290, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu .menu-social {
  display: flex;
}

/* line 292, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu .menu-social li {
  margin-right: 20px;
}

/* line 295, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu .menu-social li p a {
  color: #A99160;
  font-family: 'Crimson Text', serif;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.07em;
  font-style: italic;
}

/* line 303, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu .menu-social li p span {
  margin-right: 10px;
}

/* line 308, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu .menu-social li .menu-social___facebook img {
  width: 10px;
}

/* line 313, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu .menu-social li .menu-social___twitter img {
  width: 23px;
}

/* line 318, C:/xampp/htdocs/mediavuk/sass/style.scss */
.menu-content .menu .menu-social li .menu-social___linkedin img {
  width: 19px;
}

/****************** END START Header ******************/
/****************** START Content ******************/
/****************** START welcome section ******************/
/* line 336, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

/* line 341, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__text {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 55%;
}

/* line 347, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__text .welcome__text__hello .t1 {
  font-size: 130px;
  font-weight: 700;
  color: #3A3A3A;
  line-height: 48px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

/* line 354, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__text .welcome__text__hello .t1 span {
  font-size: 48px;
  font-weight: 700;
  color: #3A3A3A;
  padding-bottom: 30px;
}

/* line 363, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__text .welcome__text__to {
  padding: 25px 0 25px 0;
  text-transform: uppercase;
}

/* line 366, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__text .welcome__text__to .t2 {
  font-family: 'Crimson Text', serif;
  text-transform: uppercase;
  text-align: left;
  padding: 0;
  font-size: 36px;
  letter-spacing: 25px;
  color: #A99160;
  font-weight: 600;
}

/* line 378, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__text .welcome__text__mediavuk {
  /*position: relative;*/
  margin-bottom: 40px;
}

/* line 381, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 {
  background: #3A3A3A;
  position: relative;
  text-align: center;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 412px;
  margin-left: 20px;
}

/* line 391, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .t3 {
  text-align: center;
  padding: 0;
  font-size: 30px;
  color: #fff;
  letter-spacing: 20px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: bold;
}

/* line 401, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .welcome__text__colsuntants {
  position: absolute;
  left: 112px;
  top: 80px;
  bottom: -30px;
  width: 100%;
}

/* line 407, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .welcome__text__colsuntants p {
  text-transform: uppercase;
  color: #A99160;
  letter-spacing: 8px;
  font-size: 15px;
  font-weight: bold;
}

/* line 419, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__text .welcome__text__message {
  line-height: 30px;
  padding: 60px 0 35px 0;
  /*border-bottom: dotted 4px;*/
  width: 85%;
}

/* line 424, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__text .welcome__text__message p {
  font-size: 20px;
  letter-spacing: 4px;
  color: #3A3A3A;
  line-height: 53px;
}

/* line 429, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__text .welcome__text__message p span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 8px;
}

/* line 439, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__icons {
  margin-left: 70px;
}

/* line 441, C:/xampp/htdocs/mediavuk/sass/style.scss */
.welcome .welcome__icons img {
  width: 500px;
}

/****************** END: welcome section ******************/
/****************** START Content ******************/
/****************** START Content ******************/
/****************** START slider section ******************/
/* --- START Owl slider dotted ---*/
/*.button.owl-dot.active {
    background: black!important;
    border: none!important;
    padding: 10px!important;
}*/
/* --- END Owl slider dotted ---*/
/* line 476, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
}

/* line 482, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .owl-carousel .owl-stage-outer {
  /*height: 500px!important;*/
}

/* line 486, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/* line 490, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__title h1 {
  position: relative;
  display: block;
  margin-bottom: 75px;
}

/* line 494, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__title h1:before {
  content: '';
  width: 86px;
  height: 6px;
  background: #A99160;
  position: absolute;
  margin: auto;
  left: 0;
  top: -25px;
  right: 0;
}

/* line 507, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__owl {
  width: 100%;
}

/* line 509, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__owl img {
  width: 80%;
}

/* line 512, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__owl .slider-row {
  position: relative;
  width: 100%;
  padding-bottom: 150px;
}

/* line 516, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__owl .slider-row .window-slider {
  position: absolute;
  bottom: 0;
  right: 0;
  border: solid 5px #a78f5f;
  width: 312px;
  background: #fff;
  padding: 40px 52px 40px 50px;
}

/* line 524, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__owl .slider-row .window-slider .window-slider__text {
  position: relative;
  width: 75%;
}

/* line 527, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__owl .slider-row .window-slider .window-slider__text .arrow-slider {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -80px;
  bottom: -15px;
  transition: 0.2s;
}

/* line 534, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__owl .slider-row .window-slider .window-slider__text .arrow-slider:hover {
  right: -100px;
  bottom: -15px;
  transition: 0.2s;
}

/* line 540, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__owl .slider-row .window-slider .window-slider__text .identityTxt {
  font-family: 'Crimson Text', serif;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 42px;
  color: #3A3A3A;
}

/* line 547, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__owl .slider-row .window-slider .window-slider__text .brandingTxt {
  text-transform: uppercase;
  color: #A99160;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.3em;
  line-height: 46px;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* line 557, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__owl .slider-row .window-slider .window-slider__text .clientTxt {
  font-size: 26px;
  letter-spacing: 2px;
  color: #3A3A3A;
  font-family: 'Crimson Text', serif;
}

/* line 562, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__owl .slider-row .window-slider .window-slider__text .clientTxt span {
  text-transform: uppercase;
}

/* line 571, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__all-work {
  margin-bottom: 30px;
  margin-top: 60px;
  width: 100%;
  text-align: right;
}

/* line 576, C:/xampp/htdocs/mediavuk/sass/style.scss */
.slider .slider__all-work a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.4em;
  text-decoration: none;
  color: #3A3A3A;
}

/****************** END: slider section ******************/
/****************** START services section ******************/
/* line 595, C:/xampp/htdocs/mediavuk/sass/style.scss */
.services .services__title {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/* line 599, C:/xampp/htdocs/mediavuk/sass/style.scss */
.services .services__title h1 {
  position: relative;
  border: solid 5px black;
  padding: 40px 50px 40px 50px;
  background: #fff;
}

/* line 604, C:/xampp/htdocs/mediavuk/sass/style.scss */
.services .services__title h1 .patternContentText {
  width: 99%;
  position: absolute;
  background: url(../img/patternbg.png) repeat;
  height: 97%;
  top: 34px;
  right: -30px;
  z-index: -1;
}

/* line 616, C:/xampp/htdocs/mediavuk/sass/style.scss */
.services .services__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

/* line 621, C:/xampp/htdocs/mediavuk/sass/style.scss */
.services .services__icons .icons {
  z-index: 1;
  width: 33%;
  text-align: center;
  transition: 0.2s;
  position: relative;
  margin-top: 70px;
  margin-bottom: 70px;
}

/* line 629, C:/xampp/htdocs/mediavuk/sass/style.scss */
.services .services__icons .icons .icons-title {
  margin-top: 60px;
}

/* line 632, C:/xampp/htdocs/mediavuk/sass/style.scss */
.services .services__icons .icons .icons__hover {
  /* display: none; */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  right: 0;
  transition: 0.2s;
  bottom: 0;
  margin: auto;
}

/* line 643, C:/xampp/htdocs/mediavuk/sass/style.scss */
.services .services__icons .icons .icons__hover:hover {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.2s;
  padding-bottom: 10px;
  color: #fff;
}

/****************** END: services section ******************/
/****************** END: Content ******************/
/****************** START service PAGE ******************/
/****************** START service CONTENT ******************/
/* START service framework */
/* line 673, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-text {
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  text-decoration: none;
  color: #333;
  line-height: 25px;
}

/* line 681, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-title {
  position: relative;
}

/* line 683, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-title:before {
  content: '';
  width: 86px;
  height: 6px;
  background: #A99160;
  position: absolute;
  margin: auto;
  left: 0;
  top: -25px;
}

/* line 695, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 7px;
  text-decoration: none;
  color: #3A3A3A;
  border: solid 3px black;
  padding: 10px 40px 10px 40px;
  background: #94eae5;
}

/* line 707, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-flex-start {
  justify-content: flex-start;
}

/* line 711, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-flex-end {
  justify-content: flex-end;
}

/* END: service framework */
/* line 718, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* line 723, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__header .service__header__title {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* line 727, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__header .service__header__title h1 {
  width: 30%;
  position: relative;
  margin-bottom: 40px;
}

/* line 730, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__header .service__header__title h1:before {
  content: '';
  width: 86px;
  height: 6px;
  background: #A99160;
  position: absolute;
  margin: auto;
  left: 0;
  top: -25px;
  right: 0;
}

/* line 745, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 749, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__description .description__text {
  width: 60%;
}

/* line 752, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__description .description__box {
  width: 30%;
}

/* line 754, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__description .description__box .box {
  position: relative;
  border: solid 5px black;
  padding: 40px 30px 40px 30px;
  background: #94eae5;
}

/* line 759, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__description .description__box .box a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 30px;
  text-decoration: none;
  color: #3A3A3A;
}

/* line 768, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__description .description__box .box .patternContentText {
  width: 100%;
  position: absolute;
  background: url(../img/patternbg.png) repeat;
  height: 98%;
  top: 34px;
  right: -30px;
  z-index: -1;
}

/* line 779, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__description .description__img {
  width: 85%;
}

/* line 781, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__description .description__img img {
  width: 100%;
}

/* line 788, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__content .reputation {
  display: flex;
  flex-wrap: wrap;
}

/* line 791, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__content .reputation .reputation__title {
  width: 39%;
}

/* line 793, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__content .reputation .reputation__title h1 {
  margin-bottom: 35px;
}

/* line 797, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__content .reputation .reputation__text-button {
  width: 60%;
}

/* line 799, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__content .reputation .reputation__text-button .text-button {
  margin-top: 40px;
}

/* line 803, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__content .reputation .reputation__img {
  width: 85%;
}

/* line 805, C:/xampp/htdocs/mediavuk/sass/style.scss */
.service-content .service .service__content .reputation .reputation__img img {
  width: 100%;
}

/****************** END: service CONTENT ******************/
/****************** END: service PAGE ******************/
/****************** START privacy-polisy PAGE ******************/
/****************** START privacy-polisy CONTENT ******************/
/* line 826, C:/xampp/htdocs/mediavuk/sass/style.scss */
.pp-content .pp .pp__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* line 831, C:/xampp/htdocs/mediavuk/sass/style.scss */
.pp-content .pp .pp__header .pp__header__title {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* line 835, C:/xampp/htdocs/mediavuk/sass/style.scss */
.pp-content .pp .pp__header .pp__header__title h1 {
  position: relative;
  margin-bottom: 40px;
}

/* line 838, C:/xampp/htdocs/mediavuk/sass/style.scss */
.pp-content .pp .pp__header .pp__header__title h1:before {
  content: '';
  width: 86px;
  height: 6px;
  background: #A99160;
  position: absolute;
  margin: auto;
  left: 0;
  top: -25px;
  right: 0;
}

/* line 853, C:/xampp/htdocs/mediavuk/sass/style.scss */
.pp-content .pp .pp__text {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 856, C:/xampp/htdocs/mediavuk/sass/style.scss */
.pp-content .pp .pp__text .pp__text__title {
  padding-left: 25px;
  margin-bottom: 35px;
}

/* line 859, C:/xampp/htdocs/mediavuk/sass/style.scss */
.pp-content .pp .pp__text .pp__text__title li {
  font-size: 30px;
  font-family: 'Crimson Text', serif;
  color: #A99160;
  font-weight: bold;
  letter-spacing: 3px;
  list-style: disc;
}

/* line 869, C:/xampp/htdocs/mediavuk/sass/style.scss */
.pp-content .pp .pp__text .pp__text__txt li {
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #333;
  margin-bottom: 35px;
}

/****************** END: privacy-polisy CONTENT ******************/
/****************** END: privacy-polisy PAGE ******************/
/****************** START footer ******************/
/* START framework for footer content */
/* line 892, C:/xampp/htdocs/mediavuk/sass/style.scss */
.footer-title {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 700;
  color: #A99160;
  padding-bottom: 30px;
}

/* line 902, C:/xampp/htdocs/mediavuk/sass/style.scss */
.footer-link {
  text-decoration: none;
  color: #959595;
  font-size: 15px;
  letter-spacing: 0.2em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 33px;
  transition: 0.2s;
}

/* line 911, C:/xampp/htdocs/mediavuk/sass/style.scss */
.footer-link:hover {
  color: #706449;
  transition: 0.2s;
}

/* line 917, C:/xampp/htdocs/mediavuk/sass/style.scss */
.footer-link-contact {
  text-decoration: none;
  color: #959595;
  font-size: 15px;
  letter-spacing: 0.2em;
  font-weight: 400;
  line-height: 33px;
  transition: 0.2s;
}

/* line 925, C:/xampp/htdocs/mediavuk/sass/style.scss */
.footer-link-contact:hover {
  color: #706449;
  transition: 0.2s;
}

/* line 929, C:/xampp/htdocs/mediavuk/sass/style.scss */
.footer-link-contact span {
  color: #959595;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 936, C:/xampp/htdocs/mediavuk/sass/style.scss */
.before-f-title {
  position: relative;
}

/* line 938, C:/xampp/htdocs/mediavuk/sass/style.scss */
.before-f-title:before {
  content: '';
  width: 60px;
  height: 4px;
  background: #A99160;
  position: absolute;
  margin: auto;
  left: 0;
  top: -25px;
}

/* END: framework for footer content */
/* START footer content */
/* line 953, C:/xampp/htdocs/mediavuk/sass/style.scss */
footer {
  margin-top: 80px;
}

/* line 955, C:/xampp/htdocs/mediavuk/sass/style.scss */
footer .footer-content {
  background: url("../img/Footer.jpg") repeat;
}

/* line 957, C:/xampp/htdocs/mediavuk/sass/style.scss */
footer .footer-content .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

/* line 965, C:/xampp/htdocs/mediavuk/sass/style.scss */
footer .footer-content .footer .footer__logo {
  align-self: center;
}

/* line 971, C:/xampp/htdocs/mediavuk/sass/style.scss */
footer .footerWrap {
  padding: 35px 0 25px 0;
}

/* line 973, C:/xampp/htdocs/mediavuk/sass/style.scss */
footer .footerWrap .footerWrap__Sicons {
  text-align: center;
  margin-bottom: 30px;
}

/* line 976, C:/xampp/htdocs/mediavuk/sass/style.scss */
footer .footerWrap .footerWrap__Sicons li {
  display: inline-block;
  margin-right: 12px;
}

/* line 981, C:/xampp/htdocs/mediavuk/sass/style.scss */
footer .footerWrap .footerWrap__footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
}

/* line 987, C:/xampp/htdocs/mediavuk/sass/style.scss */
footer .footerWrap .footerWrap__footer-menu li {
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #A99160;
}

/* line 994, C:/xampp/htdocs/mediavuk/sass/style.scss */
footer .footerWrap .footerWrap__footer-menu li a {
  text-decoration: none;
  color: #A99160;
  letter-spacing: 0.2em;
}

/* line 1001, C:/xampp/htdocs/mediavuk/sass/style.scss */
footer .footerWrap .footerWrap__footerTxt {
  font-family: 'Crimson Text', serif;
  font-size: 15px;
  line-height: 20px;
  color: #686868;
  padding: 10px 0 0 0;
  text-align: center;
  letter-spacing: 0.05em;
}

/* line 1009, C:/xampp/htdocs/mediavuk/sass/style.scss */
footer .footerWrap .footerWrap__footerTxt a {
  text-decoration: none;
  color: #686868;
}

/* line 1018, C:/xampp/htdocs/mediavuk/sass/style.scss */
.icon-gold_heart:before {
  content: "\e935";
  color: #a99160;
}

/* line 1023, C:/xampp/htdocs/mediavuk/sass/style.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* END: footer content */
/****************** END footer ******************/
/****************** END: WEBSITE BODY ******************/
/****************** START RESPONSIVE ******************/
@media only screen and (max-width: 1600px) {
  /* line 1048, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .menu-content {
    padding: 30px;
  }
}

@media only screen and (max-width: 1300px) {
  /* line 1056, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .page-structure .background-img {
    display: none;
  }
  /* START Welcome responsive */
  /* line 1062, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome {
    justify-content: center;
  }
  /* line 1064, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text {
    width: 80%;
  }
  /* line 1067, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__icons {
    margin-left: 0;
    margin-top: 50px;
  }
  /* line 1070, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__icons img {
    width: 100%;
  }
  /* END: Welcome responsive */
  /* START services responsive */
  /* line 1081, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .services .services__icons .icons {
    width: 50%;
  }
  /* END: services responsive */
  /* START Footer responsive */
  /* line 1092, C:/xampp/htdocs/mediavuk/sass/style.scss */
  footer .footerWrap .footerWrap__footer-menu {
    width: 60%;
  }
  /* END: Footer responsive */
}

@media only screen and (max-width: 1200px) {
  /* line 1102, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .service-content {
    padding: 40px;
  }
  /* line 1107, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .service-content .service .service__header .service__header__title h1 {
    width: auto;
  }
  /* line 1113, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .service-content .service .service__content .reputation {
    justify-content: flex-start;
  }
  /* line 1115, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .service-content .service .service__content .reputation .reputation__img, .service-content .service .service__content .reputation .reputation__title, .service-content .service .service__content .reputation .reputation__text-button {
    width: auto;
  }
}

@media only screen and (max-width: 1036px) {
  /* line 1128, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .service-content .service .service__description {
    justify-content: center;
  }
  /* line 1130, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .service-content .service .service__description .description__text, .service-content .service .service__description .description__box {
    width: auto;
  }
  /* line 1133, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .service-content .service .service__description .description__box {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 980px) {
  /* line 1143, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .menu-content {
    padding: 40px;
  }
  /* line 1147, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .pp-content {
    padding: 40px;
  }
  /* START Slider responsive */
  /* line 1155, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row img {
    width: 100%;
  }
  /* line 1159, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row .window-slider {
    width: 39%;
    padding: 30px 40px 30px 40px;
  }
  /* line 1162, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text {
    width: 100%;
  }
  /* line 1164, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .arrow-slider {
    right: -10px;
  }
  /* line 1166, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .arrow-slider:hover {
    right: -20px;
  }
  /* line 1170, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .brandingTxt {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  /* END: Slider responsive */
}

@media only screen and (max-width: 830px) {
  /* START Welcome responsive */
  /* line 1187, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text {
    width: 85%;
  }
  /* line 1190, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__to .t2 {
    font-size: 35px;
  }
  /* line 1196, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 {
    padding: 5px 0px 5px 15px;
    width: 60%;
  }
  /* line 1201, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__message {
    padding: 40px 0 35px 0;
  }
  /* line 1203, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__message p {
    line-height: 45px;
    text-align: center;
    letter-spacing: 3px;
  }
  /* END: Welcome responsive */
  /* START services responsive */
  /* line 1218, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .services .services__icons .icons {
    width: 70%;
  }
  /* line 1220, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .services .services__icons .icons .sub-title {
    font-size: 22px;
    letter-spacing: 6px;
    line-height: 32px;
  }
  /* END: services responsive */
  /* START Footer responsive */
  /* line 1235, C:/xampp/htdocs/mediavuk/sass/style.scss */
  footer .footer-content .footer .footer__job-positions, footer .footer-content .footer .footer__logo, footer .footer-content .footer .footer__contact {
    width: 100%;
    text-align: center;
    margin-top: 60px;
  }
  /* line 1241, C:/xampp/htdocs/mediavuk/sass/style.scss */
  footer .footer-content .footer .before-f-title::before {
    right: 0;
  }
  /* line 1248, C:/xampp/htdocs/mediavuk/sass/style.scss */
  footer .footerWrap .footerWrap__footer-menu {
    width: 80%;
  }
  /* END: Footer responsive */
}

@media only screen and (max-width: 780px) {
  /* START Menu responsive */
  /* accordion */
  /* line 1261, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .accordion {
    cursor: pointer;
    position: relative;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  /* line 1273, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .accordion:after {
    content: '\002B';
    position: absolute;
    color: #e4e4e4;
    font-weight: bold;
    right: 40px;
  }
  /* line 1281, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .active:after {
    content: "\2212";
  }
  /* line 1285, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .panel {
    background-color: unset;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  /* accordion */
  /* line 1294, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .menu-content {
    height: 1500px;
    padding: 10px;
  }
  /* line 1297, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .menu-content .menu {
    padding-top: 20px;
    justify-content: center;
    text-align: center;
  }
  /* line 1301, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .menu-content .menu .menu__links, .menu-content .menu .menu__services, .menu-content .menu .menu__contact {
    width: 390px;
  }
  /* line 1306, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .menu-content .menu .menu__links li a {
    line-height: 60px;
    font-size: 22px;
  }
  /* line 1313, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .menu-content .menu .menu__services li, .menu-content .menu .menu__contact li {
    line-height: 50px;
  }
  /* line 1316, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .menu-content .menu .menu__services li p, .menu-content .menu .menu__services li a, .menu-content .menu .menu__contact li p, .menu-content .menu .menu__contact li a {
    font-size: 16px;
  }
  /* line 1319, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .menu-content .menu .menu__services li:nth-child(1), .menu-content .menu .menu__contact li:nth-child(1) {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 0.32em;
    text-decoration: none;
    color: #e4e4e4;
    line-height: 70px;
    font-style: normal;
  }
  /* line 1330, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .menu-content .menu .menu__services .menu-social, .menu-content .menu .menu__contact .menu-social {
    width: auto;
  }
  /* line 1334, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .menu-content .menu .menu-social {
    align-items: baseline;
    justify-content: space-evenly;
  }
  /* line 1337, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .menu-content .menu .menu-social li {
    margin: 0;
  }
  /* END: Menu responsive */
  /* START Welcome responsive */
  /* line 1350, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 {
    width: 80%;
  }
  /* line 1352, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .welcome__text__colsuntants {
    left: 80px;
  }
  /* line 1354, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .welcome__text__colsuntants p {
    letter-spacing: 7px;
    font-size: 12px;
  }
  /* END: Welcome responsive */
}

@media only screen and (max-width: 730px) {
  /* START Footer responsive */
  /* line 1374, C:/xampp/htdocs/mediavuk/sass/style.scss */
  footer .footerWrap .footerWrap__footer-menu {
    width: 90%;
  }
  /* END: Footer responsive */
}

@media only screen and (max-width: 710px) {
  /* START Slider responsive */
  /* line 1390, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row .window-slider {
    width: 100%;
    right: 0px;
    left: 20px;
    bottom: 30px;
    border: none;
    background: inherit;
    padding: 0;
  }
  /* line 1399, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .brandingTxt {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  /* line 1404, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .identityTxt {
    font-size: 16px;
    line-height: 30px;
  }
  /* line 1408, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .clientTxt {
    font-size: 18px;
    line-height: 30px;
  }
  /* line 1412, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .arrow-slider {
    right: 40px;
    width: 40px;
  }
  /* line 1415, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .arrow-slider:hover {
    right: 30px;
  }
  /* line 1424, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__all-work a {
    font-size: 14px;
  }
  /* END: Slider responsive */
}

@media only screen and (max-width: 570px) {
  /* START welcome */
  /* line 1441, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__to .t2 {
    font-size: 25px;
    letter-spacing: 10px;
  }
  /* END: welcome */
  /* START Footer responsive */
  /* line 1453, C:/xampp/htdocs/mediavuk/sass/style.scss */
  footer .footerWrap .footerWrap__footer-menu {
    justify-content: center;
  }
  /* line 1455, C:/xampp/htdocs/mediavuk/sass/style.scss */
  footer .footerWrap .footerWrap__footer-menu li {
    padding-right: 15px;
  }
  /* END: Footer responsive */
}

@media only screen and (max-width: 640px) {
  /* line 1467, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .menu-content .menu {
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 510px) {
  /* line 1476, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .margin-top-100 {
    margin-top: 70px;
  }
  /* line 1480, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .services .services__title {
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }
  /* line 1484, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .services .services__title h1 {
    font-size: 25px;
    padding: 20px 40px 20px 40px;
    margin-bottom: 50px;
  }
  /* line 1488, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .services .services__title h1 .patternContentText {
    width: 100%;
  }
}

@media only screen and (max-width: 470px) {
  /* START Slider responsive */
  /* line 1505, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .brandingTxt {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 35px;
    letter-spacing: 0.2em;
  }
  /* line 1512, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .identityTxt {
    font-size: 15px;
    line-height: 30px;
  }
  /* line 1516, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .clientTxt {
    font-size: 17px;
    line-height: 30px;
  }
  /* END: Slider responsive */
}

@media only screen and (max-width: 425px) {
  /* line 1530, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome {
    text-align: center;
  }
  /* line 1534, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__hello .t1 {
    font-size: 110px;
    line-height: 60px;
    margin-bottom: 10px;
  }
  /* line 1541, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__to .t2 {
    text-align: center;
  }
  /* line 1546, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 {
    width: 100%;
    padding: 0px 0px 0px 15px;
    margin-left: 0;
  }
  /* line 1550, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .t3 {
    font-size: 25px;
  }
  /* line 1553, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .welcome__text__colsuntants {
    left: 0px;
  }
  /* line 1562, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .service-content {
    padding: 25px;
  }
  /* line 1566, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .service-content .reputation .reputation__title h1 {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 320px) {
  /* line 1586, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 {
    width: 100%;
    margin-left: 0;
  }
  /* line 1589, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .t3 {
    font-size: 25px;
  }
  /* line 1592, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .welcome__text__colsuntants {
    left: 0px;
  }
  /* line 1594, C:/xampp/htdocs/mediavuk/sass/style.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .welcome__text__colsuntants p {
    letter-spacing: 6px;
    font-size: 10px;
  }
}

/****************** END: RESPONSIVE ****************/

/*# sourceMappingURL=../css/style.map */