/* START variable COLORS */
/* END: variable COLORS */
/* line 18, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
body {
  line-height: 1;
  font-family: 'PT Sans', sans-serif;
}

/* line 35, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
ol, ul {
  list-style: none;
}

/* line 38, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
blockquote, q {
  quotes: none;
}

/* line 42, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 47, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 51, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 55, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
h1 {
  font-size: 28px !important;
  letter-spacing: 12px;
  margin-bottom: 100px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3A3A3A;
  line-height: 50px !important;
}

/* line 65, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
h2 {
  font-size: 28px;
}

/* line 69, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
h3 {
  font-size: 22px;
}

/* WIDTH */
/* line 76, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.width-90 {
  width: 90%;
  margin: 0 auto;
}

/* line 81, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.width-80 {
  width: 80%;
  margin: 0 auto;
}

/* line 86, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.width-70 {
  width: 70%;
  margin: 0 auto;
}

/* line 91, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.width-60 {
  width: 60%;
  margin: 0 auto;
}

/* line 96, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.width-1600 {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

/* line 103, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.width-1280 {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* line 109, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.width-1160 {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

/* line 115, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.width-980 {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

/* END: WIDTH */
/* MARGINS */
/* line 126, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.margin-top-50 {
  margin-top: 50px;
}

/* line 130, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.margin-top-75 {
  margin-top: 75px;
}

/* line 134, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.margin-top-90 {
  margin-top: 90px;
}

/* line 138, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.margin-top-100 {
  margin-top: 100px;
}

/* line 143, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.margin-bottom-65 {
  margin-bottom: 65px;
}

/* line 147, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.margin-bottom-100 {
  margin-bottom: 100px;
}

/* line 152, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.margin-bottom-120 {
  margin-bottom: 120px;
}

/* END: MARGINS */
/* FONT WEIGHT */
/* line 159, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.fw-600 {
  font-weight: 600;
}

/* line 163, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.fw-500 {
  font-weight: 500;
}

/* FONT WEIGHT */
/* line 169, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.sub-title {
  font-size: 25px;
  color: #3A3A3A;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 177, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.description {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  text-decoration: none;
  color: #333;
  text-transform: capitalize;
  margin-top: 20px;
}

/* line 186, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.dots-border {
  background-image: url(../img/border2.png);
  background-repeat: repeat;
  width: 100%;
  height: 5px;
}

/****************** START WEBSITE BODY ******************/
/* line 196, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pageBody {
  position: relative;
  overflow: hidden;
  /* service page dots */
  /* END: service page dots */
}

/* line 199, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pageBody .background-img {
  position: absolute;
  z-index: -1;
}

/* line 203, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pageBody .lines1 {
  top: 21%;
  right: 2%;
}

/* line 207, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pageBody .Gelements2 {
  top: 45%;
  left: 0;
}

/* line 211, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pageBody .Dot {
  top: 11%;
  right: 30%;
}

/* line 215, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pageBody .Dot2 {
  top: 59%;
  right: 24%;
}

/* line 219, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pageBody .Dot3 {
  top: 61%;
  right: 9%;
}

/* line 223, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pageBody .Square {
  top: 55%;
  right: 17%;
}

/* line 230, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pageBody .service-lines {
  top: 5%;
  left: -24%;
}

/* line 235, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pageBody .service-dots {
  top: 3%;
  right: -16%;
}

/* line 240, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pageBody .service-lines2 {
  top: 10%;
  right: -17%;
}

/* line 245, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pageBody .service-lines3 {
  top: 65%;
  right: -22%;
}

/* line 250, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pageBody .service-lines4 {
  top: 55%;
  left: -22%;
}

/****************** START Header ******************/
/* line 260, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
header .header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 265, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
header .header .logo {
  width: 100px;
}

/* framework menu */
/* END: framework menu */
/* line 274, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content {
  background-color: #171717;
  height: 1000px;
}

/* line 277, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  padding-top: 100px;
}

/* line 282, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu ul {
  width: 360px;
}

/* line 287, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu__links li a {
  transition: all .2s ease-out;
  border-bottom: solid transparent 4px;
  position: relative;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 0.32em;
  text-decoration: none;
  color: #e4e4e4;
  line-height: 87px;
}

/* line 300, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu__links li a:hover .slider {
  transition: 0.5s;
  width: 100%;
}

/* line 305, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu__links li .slider {
  position: absolute;
  display: block;
  left: 0;
  top: 100%;
  margin: 0 auto;
  height: 2px;
  background-color: #A99160;
  width: 0%;
  transition: width 1s ease;
}

/* line 319, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu__services .menu__title, .menu-content .menu .menu__contact .menu__title {
  color: #A99160;
  font-size: 26px;
  font-style: italic;
  font-family: 'Crimson Text', serif;
  letter-spacing: 0.07em;
}

/* line 326, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu__services li, .menu-content .menu .menu__contact li {
  line-height: 73px;
}

/* line 329, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu__services a, .menu-content .menu .menu__services p, .menu-content .menu .menu__contact a, .menu-content .menu .menu__contact p {
  text-decoration: none;
  color: #B9B9B9;
  font-size: 18px;
  letter-spacing: 0.2em;
}

/* line 339, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu__contact li .menu__icon__mobile, .menu-content .menu .menu__contact li .menu__icon__email {
  margin-right: 10px;
}

/* line 344, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu__contact li .menu__icon__mobile img {
  width: 12px;
}

/* line 349, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu__contact li .menu__icon__email img {
  width: 24px;
}

/* line 356, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu-social {
  display: flex;
}

/* line 358, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu-social li {
  margin-right: 20px;
}

/* line 361, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu-social li p a {
  color: #A99160;
  font-family: 'Crimson Text', serif;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.07em;
  font-style: italic;
}

/* line 369, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu-social li p span {
  margin-right: 10px;
}

/* line 374, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu-social li .menu-social___facebook img {
  width: 10px;
}

/* line 379, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu-social li .menu-social___twitter img {
  width: 23px;
}

/* line 384, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.menu-content .menu .menu-social li .menu-social___linkedin img {
  width: 19px;
}

/****************** END START Header ******************/
/****************** START Content ******************/
/****************** START welcome section ******************/
/* line 402, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

/* line 407, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__text {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 55%;
}

/* line 413, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__text .welcome__text__hello .t1 {
  font-size: 130px;
  font-weight: 700;
  color: #3A3A3A;
  line-height: 48px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

/* line 420, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__text .welcome__text__hello .t1 span {
  font-size: 48px;
  font-weight: 700;
  color: #3A3A3A;
  padding-bottom: 30px;
}

/* line 429, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__text .welcome__text__to {
  padding: 25px 0 25px 0;
  text-transform: uppercase;
}

/* line 432, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__text .welcome__text__to .t2 {
  font-family: 'Crimson Text', serif;
  text-transform: uppercase;
  text-align: left;
  padding: 0;
  font-size: 36px;
  letter-spacing: 25px;
  color: #A99160;
  font-weight: 600;
}

/* line 444, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__text .welcome__text__mediavuk {
  /*position: relative;*/
  margin-bottom: 40px;
}

/* line 447, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 {
  background: #3A3A3A;
  position: relative;
  text-align: center;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 412px;
  margin-left: 20px;
}

/* line 457, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .t3 {
  text-align: center;
  padding: 0;
  font-size: 30px;
  color: #fff;
  letter-spacing: 20px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: bold;
}

/* line 467, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .welcome__text__colsuntants {
  position: absolute;
  left: 112px;
  top: 80px;
  bottom: -30px;
  width: 100%;
}

/* line 473, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .welcome__text__colsuntants p {
  text-transform: uppercase;
  color: #A99160;
  letter-spacing: 8px;
  font-size: 15px;
  font-weight: bold;
}

/* line 485, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__text .welcome__text__message {
  line-height: 30px;
  padding: 60px 0 35px 0;
  /*border-bottom: dotted 4px;*/
  width: 85%;
}

/* line 490, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__text .welcome__text__message p {
  font-size: 20px;
  letter-spacing: 4px;
  color: #3A3A3A;
  line-height: 53px;
}

/* line 495, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__text .welcome__text__message p span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 8px;
}

/* line 505, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__icons {
  margin-left: 70px;
}

/* line 507, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.welcome .welcome__icons img {
  width: 500px;
}

/****************** END: welcome section ******************/
/****************** START Content ******************/
/****************** START Content ******************/
/****************** START slider section ******************/
/* --- START Owl slider dotted ---*/
/*.button.owl-dot.active {
    background: black!important;
    border: none!important;
    padding: 10px!important;
}*/
/* --- END Owl slider dotted ---*/
/* line 542, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
}

/* line 548, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .owl-carousel .owl-stage-outer {
  /*height: 500px!important;*/
}

/* line 552, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/* line 556, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__title h1 {
  position: relative;
  display: block;
  margin-bottom: 75px;
}

/* line 560, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__title h1:before {
  content: '';
  width: 86px;
  height: 6px;
  background: #A99160;
  position: absolute;
  margin: auto;
  left: 0;
  top: -25px;
  right: 0;
}

/* line 573, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__owl {
  width: 100%;
}

/* line 575, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__owl img {
  width: 80%;
}

/* line 578, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__owl .slider-row {
  position: relative;
  width: 100%;
  padding-bottom: 150px;
}

/* line 582, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__owl .slider-row .window-slider {
  position: absolute;
  bottom: 0;
  right: 0;
  border: solid 5px #a78f5f;
  width: 312px;
  background: #fff;
  padding: 40px 52px 40px 50px;
}

/* line 590, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__owl .slider-row .window-slider .window-slider__text {
  position: relative;
  width: 75%;
}

/* line 593, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__owl .slider-row .window-slider .window-slider__text .arrow-slider {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -80px;
  bottom: -15px;
  transition: 0.2s;
}

/* line 600, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__owl .slider-row .window-slider .window-slider__text .arrow-slider:hover {
  right: -100px;
  bottom: -15px;
  transition: 0.2s;
}

/* line 606, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__owl .slider-row .window-slider .window-slider__text .identityTxt {
  font-family: 'Crimson Text', serif;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 42px;
  color: #3A3A3A;
}

/* line 613, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__owl .slider-row .window-slider .window-slider__text .brandingTxt {
  text-transform: uppercase;
  color: #A99160;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.3em;
  line-height: 46px;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* line 623, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__owl .slider-row .window-slider .window-slider__text .clientTxt {
  font-size: 26px;
  letter-spacing: 2px;
  color: #3A3A3A;
  font-family: 'Crimson Text', serif;
}

/* line 628, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__owl .slider-row .window-slider .window-slider__text .clientTxt span {
  text-transform: uppercase;
}

/* line 637, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__all-work {
  margin-bottom: 30px;
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

/* line 644, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__all-work a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.4em;
  text-decoration: none;
  color: #3A3A3A;
  padding: 10px 30px;
  transition: 0.4s;
}

/* line 653, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.slider .slider__all-work a:hover {
  background-color: #A99160;
  color: #fff;
  transition: 0.4s;
}

/****************** END: slider section ******************/
/****************** START services section ******************/
/* line 670, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__title {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/* line 674, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__title h1 {
  position: relative;
  border: solid 5px black;
  padding: 40px 50px 40px 50px;
  background: #fff;
}

/* line 679, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__title h1:before {
  width: 99%;
  content: '';
  position: absolute;
  background: url(../img/patternbg.png) repeat;
  height: 97%;
  top: 34px;
  right: -30px;
  z-index: -1;
}

/* line 692, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

/* line 697, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons .icons {
  z-index: 1;
  width: 33%;
  text-align: center;
  transition: 0.2s;
  position: relative;
  margin-top: 70px;
  margin-bottom: 70px;
}

/* line 705, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons .icons .icons-title {
  margin-top: 60px;
}

/* line 707, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons .icons .icons-title p {
  display: inline-block;
  position: relative;
  margin-right: -6px;
  padding-left: 10px;
  letter-spacing: 10px;
  line-height: 41px;
}

/* line 714, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons .icons .icons-title p:before {
  background-color: red;
  opacity: 0;
  position: absolute;
  content: '';
  bottom: 0;
  z-index: -1;
  left: 0;
  margin: auto;
  transition: 2s;
  right: 0;
}

/* line 729, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons .icons .icons__hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  right: 0;
  transition: 0.2s;
  bottom: 0;
  margin: auto;
}

/* line 742, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons .icons:hover .icons__hover {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.2s;
  padding-bottom: 10px;
  color: #fff;
}

/* line 753, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons .icons:hover .icons-title {
  position: relative;
}

/* line 756, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons .icons:hover .icons-title p:before {
  opacity: 1;
  height: 50%;
  transition: 1s;
}

/* line 767, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons .icons:nth-child(1) .icons-title p:before {
  background-color: #33ccff;
}

/* line 776, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons .icons:nth-child(2) .icons-title p:before {
  background-color: #c16efe;
}

/* line 785, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons .icons:nth-child(3) .icons-title p:before {
  background-color: #00f6c5;
}

/* line 794, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons .icons:nth-child(4) .icons-title p:before {
  background-color: #e5e541;
}

/* line 803, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons .icons:nth-child(5) .icons-title p:before {
  background-color: #ffa97d;
}

/* line 812, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.services-new .services__icons .icons:nth-child(6) .icons-title p:before {
  background-color: #ff74a1;
}

/****************** END: services section ******************/
/****************** END: Content ******************/
/****************** START service PAGE ******************/
/****************** START service CONTENT ******************/
/* START service framework */
/* line 839, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-title {
  position: relative;
}

/* line 841, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-title:before {
  content: '';
  width: 86px;
  height: 6px;
  background: #A99160;
  position: absolute;
  margin: auto;
  left: 0;
  top: -25px;
}

/* line 853, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.4em;
  text-decoration: none;
  color: #3A3A3A;
  border: solid 3px black;
  padding: 15px 48px 15px 48px;
  background: #94eae5;
}

/* line 865, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-flex-start {
  justify-content: flex-start;
}

/* line 869, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-flex-end {
  justify-content: flex-end;
}

/* END: service framework */
/* line 876, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* line 881, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__header .service__header__title {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* line 885, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__header .service__header__title h1 {
  width: 40%;
  position: relative;
  margin-bottom: 50px;
  margin-top: 115px;
  line-height: 70px;
  font-size: 45px;
  letter-spacing: 0.4em;
}

/* line 893, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__header .service__header__title h1:before {
  content: '';
  width: 86px;
  height: 6px;
  background: #A99160;
  position: absolute;
  margin: auto;
  left: 0;
  top: -39px;
  right: 0;
}

/* line 908, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* line 912, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__description .description__text {
  width: 60%;
}

/* line 914, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__description .description__text p {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  text-decoration: none;
  color: #404040;
  letter-spacing: 0.01em;
  line-height: 30px;
}

/* line 923, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__description .description__box {
  width: 30%;
}

/* line 925, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__description .description__box .box {
  position: relative;
  border: solid 5px #3A3A3A;
  padding: 40px 30px 40px 30px;
  background: #94eae5;
}

/* line 930, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__description .description__box .box .a-last {
  padding: 0;
}

/* line 933, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__description .description__box .box a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 5px;
  line-height: 30px;
  text-decoration: none;
  color: #3A3A3A;
  display: inline-block;
  padding-bottom: 10px;
}

/* line 944, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__description .description__box .box:before {
  content: '';
  width: 100%;
  position: absolute;
  background: url(../img/patternbg.png) repeat;
  height: 98%;
  top: 34px;
  right: -30px;
  z-index: -1;
}

/* line 956, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__description .description__img {
  width: 85%;
}

/* line 958, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__description .description__img img {
  width: 100%;
}

/* line 965, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__content .reputation {
  display: flex;
  flex-wrap: wrap;
}

/* line 968, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__content .reputation .reputation__title {
  width: 36%;
}

/* line 970, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__content .reputation .reputation__title h1 {
  margin-bottom: 35px;
  margin-top: 25px;
}

/* line 975, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__content .reputation .reputation__text-button {
  width: 62%;
}

/* line 977, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__content .reputation .reputation__text-button p {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  text-decoration: none;
  color: #404040;
  line-height: 30px;
  padding-top: 31px;
  letter-spacing: 0.01em;
}

/* line 986, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__content .reputation .reputation__text-button .text-button {
  margin-top: 50px;
}

/* line 990, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__content .reputation .reputation__img {
  width: 85%;
}

/* line 992, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.service-content .service .service__content .reputation .reputation__img img {
  width: 100%;
}

/****************** END: service CONTENT ******************/
/****************** END: service PAGE ******************/
/****************** START privacy-polisy PAGE ******************/
/****************** START privacy-polisy CONTENT ******************/
/* line 1013, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pp-content .pp .pp__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/* line 1018, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pp-content .pp .pp__header .pp__header__title {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* line 1022, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pp-content .pp .pp__header .pp__header__title h1 {
  position: relative;
  margin-bottom: 40px;
}

/* line 1025, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pp-content .pp .pp__header .pp__header__title h1:before {
  content: '';
  width: 86px;
  height: 6px;
  background: #A99160;
  position: absolute;
  margin: auto;
  left: 0;
  top: -25px;
  right: 0;
}

/* line 1040, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pp-content .pp .pp__text {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 1043, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pp-content .pp .pp__text .pp__text__title {
  padding-left: 25px;
  margin-bottom: 35px;
  margin-top: 35px;
}

/* line 1047, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pp-content .pp .pp__text .pp__text__title li {
  font-size: 28px;
  color: #A99160;
  font-weight: bold;
  letter-spacing: 3px;
  list-style: disc;
  text-transform: uppercase;
}

/* line 1057, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pp-content .pp .pp__text .pp__text__txt p, .pp-content .pp .pp__text .pp__text__txt li {
  font-family: 'Crimson Text', serif;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #333;
  margin-bottom: 35px;
}

/* line 1065, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.pp-content .pp .pp__text .pp__text__txt ul li {
  list-style: disc;
  line-height: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
}

/****************** END: privacy-polisy CONTENT ******************/
/****************** END: privacy-polisy PAGE ******************/
/****************** START footer ******************/
/* START framework for footer content */
/* line 1089, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.footer-title {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 700;
  color: #A99160;
  padding-bottom: 30px;
}

/* line 1099, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.footer-link {
  text-decoration: none;
  color: #959595;
  font-size: 15px;
  letter-spacing: 0.2em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 33px;
  transition: 0.2s;
}

/* line 1108, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.footer-link:hover {
  color: #706449;
  transition: 0.2s;
}

/* line 1114, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.footer-link-contact {
  text-decoration: none;
  color: #959595;
  font-size: 15px;
  letter-spacing: 0.2em;
  font-weight: 400;
  line-height: 33px;
  transition: 0.2s;
}

/* line 1122, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.footer-link-contact:hover {
  color: #706449;
  transition: 0.2s;
}

/* line 1126, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.footer-link-contact span {
  color: #959595;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 1133, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.before-f-title {
  position: relative;
}

/* line 1135, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.before-f-title:before {
  content: '';
  width: 60px;
  height: 4px;
  background: #A99160;
  position: absolute;
  margin: auto;
  left: 0;
  top: -25px;
}

/* END: framework for footer content */
/* START footer content */
/* line 1150, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
footer {
  margin-top: 80px;
}

/* line 1152, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
footer .footer-content {
  background: url("../img/Footer.jpg") repeat;
}

/* line 1154, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
footer .footer-content .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

/* line 1162, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
footer .footer-content .footer .footer__logo {
  align-self: center;
}

/* line 1168, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
footer .footerWrap {
  padding: 35px 0 25px 0;
}

/* line 1170, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
footer .footerWrap .footerWrap__Sicons {
  text-align: center;
  margin-bottom: 30px;
}

/* line 1173, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
footer .footerWrap .footerWrap__Sicons li {
  display: inline-block;
  margin-right: 12px;
}

/* line 1178, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
footer .footerWrap .footerWrap__footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
}

/* line 1184, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
footer .footerWrap .footerWrap__footer-menu li {
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #A99160;
}

/* line 1191, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
footer .footerWrap .footerWrap__footer-menu li a {
  text-decoration: none;
  color: #A99160;
  letter-spacing: 0.2em;
}

/* line 1198, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
footer .footerWrap .footerWrap__footerTxt {
  font-family: 'Crimson Text', serif;
  font-size: 15px;
  line-height: 20px;
  color: #686868;
  padding: 10px 0 0 0;
  text-align: center;
  letter-spacing: 0.05em;
}

/* line 1206, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
footer .footerWrap .footerWrap__footerTxt a {
  text-decoration: none;
  color: #686868;
}

/* line 1215, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
.icon-gold_heart:before {
  content: "\e935";
  color: #a99160;
}

/* line 1220, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* END: footer content */
/****************** END footer ******************/
/****************** END: WEBSITE BODY ******************/
/****************** START RESPONSIVE ******************/
@media only screen and (max-width: 1600px) {
  /* line 1245, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .menu-content {
    padding: 30px 100px;
  }
}

@media only screen and (max-width: 1300px) {
  /* line 1253, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .page-structure .background-img {
    display: none;
  }
  /* START Welcome responsive */
  /* line 1259, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome {
    justify-content: center;
  }
  /* line 1261, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text {
    width: 80%;
  }
  /* line 1264, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__icons {
    margin-left: 0;
    margin-top: 50px;
  }
  /* line 1267, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__icons img {
    width: 100%;
  }
  /* END: Welcome responsive */
  /* START services responsive */
  /* line 1278, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .services-new .services__icons .icons {
    width: 50%;
  }
  /* END: services responsive */
  /* line 1287, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__description {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  /* line 1291, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__description .description__text {
    width: 100%;
  }
  /* line 1294, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__description .description__box {
    margin-top: 50px;
  }
  /* START Footer responsive */
  /* line 1304, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  footer .footerWrap .footerWrap__footer-menu {
    width: 60%;
  }
  /* END: Footer responsive */
}

@media only screen and (max-width: 1200px) {
  /* line 1314, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content {
    padding: 40px;
  }
  /* line 1319, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__header .service__header__title h1 {
    width: auto;
  }
  /* line 1325, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__content .reputation {
    justify-content: flex-start;
  }
  /* line 1327, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__content .reputation .reputation__img, .service-content .service .service__content .reputation .reputation__title, .service-content .service .service__content .reputation .reputation__text-button {
    width: auto;
  }
  /* line 1331, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__content .reputation .reputation__title h1 {
    margin-bottom: 0;
  }
  /* line 1336, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__content .reputation .reputation__text-button p {
    padding-top: 15px;
  }
}

@media only screen and (max-width: 1175px) {
  /* line 1350, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__description {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  /* line 1354, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__description .description__text {
    width: 100%;
  }
  /* line 1357, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__description .description__box {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1036px) {
  /* line 1368, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__description {
    justify-content: center;
  }
  /* line 1370, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__description .description__box {
    width: 38%;
  }
  /* line 1373, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__description .description__box {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 980px) {
  /* line 1383, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .menu-content {
    padding: 40px;
  }
  /* line 1387, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .pp-content {
    padding: 40px;
  }
  /* START Slider responsive */
  /* line 1395, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row img {
    width: 100%;
  }
  /* line 1399, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider {
    width: 39%;
    padding: 30px 40px 30px 40px;
  }
  /* line 1402, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text {
    width: 100%;
  }
  /* line 1404, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .arrow-slider {
    right: -10px;
  }
  /* line 1406, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .arrow-slider:hover {
    right: -20px;
  }
  /* line 1410, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .brandingTxt {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  /* END: Slider responsive */
}

@media only screen and (max-width: 930px) {
  /* line 1427, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__description .description__box {
    width: 40%;
  }
}

@media only screen and (max-width: 830px) {
  /* START Welcome responsive */
  /* line 1440, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text {
    width: 85%;
  }
  /* line 1443, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__to .t2 {
    font-size: 35px;
  }
  /* line 1449, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 {
    padding: 5px 0px 5px 15px;
    width: 60%;
  }
  /* line 1454, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__message {
    padding: 40px 0 35px 0;
    width: 100%;
  }
  /* line 1457, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__message p {
    line-height: 45px;
    text-align: center;
    letter-spacing: 3px;
  }
  /* END: Welcome responsive */
  /* START services responsive */
  /* line 1472, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .services-new .services__icons .icons {
    width: 100%;
  }
  /* line 1474, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .services-new .services__icons .icons .sub-title {
    font-size: 22px;
    letter-spacing: 6px;
    line-height: 32px;
  }
  /* END: services responsive */
  /* START Footer responsive */
  /* line 1489, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  footer .footer-content .footer .footer__job-positions, footer .footer-content .footer .footer__logo, footer .footer-content .footer .footer__contact {
    width: 100%;
    text-align: center;
    margin-top: 60px;
  }
  /* line 1495, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  footer .footer-content .footer .before-f-title::before {
    right: 0;
  }
  /* line 1502, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  footer .footerWrap .footerWrap__footer-menu {
    width: 80%;
  }
  /* END: Footer responsive */
}

@media only screen and (max-width: 780px) {
  /* START Menu responsive */
  /* accordion */
  /* line 1515, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .accordion {
    cursor: pointer;
    position: relative;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  /* line 1526, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .accordion:after {
    content: '\002B';
    position: absolute;
    color: #e4e4e4;
    font-weight: bold;
    right: 40px;
  }
  /* line 1533, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .active-acc:after {
    content: "\2212";
  }
  /* line 1536, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .panel {
    background-color: unset;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  /* accordion */
  /* line 1545, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .menu-content {
    height: 1500px;
    padding: 10px;
  }
  /* line 1548, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .menu-content .menu {
    padding-top: 20px;
    justify-content: center;
    text-align: center;
  }
  /* line 1552, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .menu-content .menu .menu__links, .menu-content .menu .menu__services, .menu-content .menu .menu__contact {
    width: 390px;
  }
  /* line 1557, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .menu-content .menu .menu__links li a {
    line-height: 60px;
    font-size: 22px;
  }
  /* line 1564, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .menu-content .menu .menu__services .menu__title, .menu-content .menu .menu__contact .menu__title {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 0.32em;
    text-decoration: none;
    color: #e4e4e4;
    line-height: 70px;
    font-style: normal;
  }
  /* line 1574, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .menu-content .menu .menu__services li, .menu-content .menu .menu__contact li {
    line-height: 50px;
  }
  /* line 1577, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .menu-content .menu .menu__services li p, .menu-content .menu .menu__services li a, .menu-content .menu .menu__contact li p, .menu-content .menu .menu__contact li a {
    font-size: 16px;
  }
  /* line 1581, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .menu-content .menu .menu__services .menu-social, .menu-content .menu .menu__contact .menu-social {
    width: auto;
  }
  /* line 1585, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .menu-content .menu .menu-social {
    align-items: baseline;
    justify-content: space-evenly;
  }
  /* line 1588, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .menu-content .menu .menu-social li {
    margin: 0;
  }
  /* END: Menu responsive */
  /* START Welcome responsive */
  /* line 1601, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 {
    width: 80%;
  }
  /* line 1603, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .welcome__text__colsuntants {
    left: 80px;
  }
  /* line 1605, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .welcome__text__colsuntants p {
    letter-spacing: 7px;
    font-size: 12px;
  }
  /* END: Welcome responsive */
  /* line 1620, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__description .description__box {
    width: 54%;
  }
  /* line 1628, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .reputation .reputation__text-button .text-button a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 730px) {
  /* START Footer responsive */
  /* line 1644, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  footer .footerWrap .footerWrap__footer-menu {
    width: 90%;
  }
  /* END: Footer responsive */
}

@media only screen and (max-width: 710px) {
  /* START Slider responsive */
  /* line 1660, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider {
    width: 100%;
    right: 0px;
    left: 20px;
    bottom: 30px;
    border: none;
    background: inherit;
    padding: 0;
  }
  /* line 1669, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .brandingTxt {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  /* line 1674, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .identityTxt {
    font-size: 16px;
    line-height: 30px;
  }
  /* line 1678, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .clientTxt {
    font-size: 18px;
    line-height: 30px;
  }
  /* line 1682, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .arrow-slider {
    right: 40px;
    width: 40px;
  }
  /* line 1685, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .arrow-slider:hover {
    right: 30px;
  }
  /* line 1694, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__all-work a {
    font-size: 14px;
  }
  /* END: Slider responsive */
}

@media only screen and (max-width: 600px) {
  /* line 1707, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__description .description__box {
    width: 75%;
  }
}

@media only screen and (max-width: 570px) {
  /* START welcome */
  /* line 1721, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__to .t2 {
    font-size: 25px;
    letter-spacing: 10px;
  }
  /* END: welcome */
  /* START Footer responsive */
  /* line 1733, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  footer .footerWrap .footerWrap__footer-menu {
    justify-content: center;
  }
  /* line 1735, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  footer .footerWrap .footerWrap__footer-menu li {
    padding-right: 15px;
  }
  /* END: Footer responsive */
}

@media only screen and (max-width: 640px) {
  /* line 1747, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .menu-content .menu {
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 510px) {
  /* line 1756, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .margin-top-100 {
    margin-top: 70px;
  }
  /* line 1760, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .services-new .services__title {
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }
  /* line 1764, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .services-new .services__title h1 {
    font-size: 25px;
    padding: 20px 40px 20px 40px;
    margin-bottom: 50px;
  }
  /* line 1768, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .services-new .services__title h1 .patternContentText {
    width: 100%;
  }
}

@media only screen and (max-width: 470px) {
  /* START Slider responsive */
  /* line 1785, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .brandingTxt {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 35px;
    letter-spacing: 0.2em;
  }
  /* line 1792, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .identityTxt {
    font-size: 15px;
    line-height: 30px;
  }
  /* line 1796, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .clientTxt {
    font-size: 17px;
    line-height: 30px;
  }
  /* END: Slider responsive */
  /* line 1810, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .service .service__description .description__box {
    width: 95%;
  }
}

@media only screen and (max-width: 425px) {
  /* line 1820, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome {
    text-align: center;
  }
  /* line 1824, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__hello .t1 {
    font-size: 110px;
    line-height: 60px;
    margin-bottom: 10px;
  }
  /* line 1831, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__to .t2 {
    text-align: center;
  }
  /* line 1836, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 {
    width: 100%;
    padding: 0px 0px 0px 15px;
    margin-left: 0;
  }
  /* line 1840, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .t3 {
    font-size: 25px;
  }
  /* line 1843, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .welcome__text__colsuntants {
    left: 0px;
  }
  /* line 1852, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content {
    padding: 25px;
  }
  /* line 1856, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .service-content .reputation .reputation__title h1 {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 320px) {
  /* line 1876, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 {
    width: 100%;
    margin-left: 0;
  }
  /* line 1879, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .t3 {
    font-size: 25px;
  }
  /* line 1882, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .welcome__text__colsuntants {
    left: 0px;
  }
  /* line 1884, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .welcome .welcome__text .welcome__text__mediavuk .welcome__text__mediavuk-t3 .welcome__text__colsuntants p {
    letter-spacing: 6px;
    font-size: 10px;
  }
  /* line 1898, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider {
    bottom: 15px;
    left: 0;
  }
  /* line 1902, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .arrow-slider {
    right: 10px;
  }
  /* line 1904, C:/xampp/htdocs/mediavuk/sass/style-new.scss */
  .slider .slider__owl .slider-row .window-slider .window-slider__text .arrow-slider:hover {
    right: 5px;
  }
}

/****************** END: RESPONSIVE ****************/

/*# sourceMappingURL=../css/style-new.map */