/* START variable COLORS */

$darkgray: #3A3A3A;
$gold: #A99160;
$lightgray: #5f5f5f;
$menuColor: #F4F4F4;
$menuServices: #B9B9B9;

/* END: variable COLORS */


 


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'PT Sans', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
    font-size: 30px;
    letter-spacing: 12px;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-weight: 600;
    color: $darkgray;
    line-height: 50px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}



/* WIDTH */
.width-90 {
  width: 90%;
  margin: 0 auto;
}

.width-80 {
  width: 80%;
  margin: 0 auto;
}

.width-70 {
  width: 70%;
  margin: 0 auto;
}

.width-60 {
  width: 60%;
  margin: 0 auto;
}


.width-1280 {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.width-1160 {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.width-980 {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
/* END: WIDTH */




/* MARGINS */
.margin-top-50 {
    margin-top: 50px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}
/* END: MARGINS */


/* FONT WEIGHT */
.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}
/* FONT WEIGHT */


.sub-title {
    font-size: 25px;
    color: $darkgray;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
}


.description {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    text-transform: capitalize;
    margin-top: 20px;
}

/****************** START WEBSITE BODY ******************/


.page-structure {
    position: relative;
    overflow: hidden;
    .background-img {
        position: absolute;
    }
    .lines1 {
        top: 23%;
        right: 2%;
    }
    .Gelements2 {
        top: 45%;
        left: 0;
    }
    .Dot {
        top: 11%;
        right: 35%;
    }
    .Dot2 {
        top: 59%;
        right: 27%; 
    }
    .Dot3 {
        top: 61%;
        right: 13%; 
    }
    .Square {
        top: 55%;
        right: 21%;
    }
}

/****************** START Header ******************/

header {
  .header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    .logo {
      width: 100px;
    }
  }
}

/* framework menu */
/* END: framework menu */

.menu-content { 
    background-color: $darkgray; 
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 100px;
        padding-top: 100px;
        ul {

        }
        .menu__links {
            a {
                text-transform: uppercase;
                font-size: 30px;
                letter-spacing: 0.32em;
                text-decoration: none;
                color: $menuColor;
                line-height: 85px;
            }
        }
        .menu__services, .menu__contact {
            li {
                line-height: 73px;
                &:nth-child(1) {
                    color: $gold;
                }
            }
            a, p {
                text-decoration: none;
                color: $menuServices;
                font-size: 18px;
                
            }
        }
        .menu__contact {
            li {
                .menu__icon__mobile, .menu__icon__email {
                    margin-right: 10px;
                }

                .menu__icon__mobile {
                    img {
                        width: 12px;
                    }
                }
                .menu__icon__email {
                    img {
                        width: 24px;
                    }
                }
            }
        }

        .menu-social {
            display: flex;
            justify-content: space-between;
            width: 400px;
            li {
                p {
                    a {
                        color: $gold;
                        font-family: 'Crimson Text', serif;
                        text-decoration: none;
                        font-size: 20px;
                        letter-spacing: 0.07em;
                        font-style: italic;
                    }
                    span {
                        margin-right: 10px;
                    }
                }
                .menu-social___facebook {
                    img {
                        width: 10px;
                    }
                }
                .menu-social___twitter {
                    img {
                        width: 23px;
                    }
                }
                .menu-social___linkedin {
                    img {
                        width: 19px;
                    }
                }
            }
        }
    }
}
/****************** END START Header ******************/




/****************** START Content ******************/



/****************** START welcome section ******************/
.welcome {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .welcome__text {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        width: 55%;
        .welcome__text__hello {
            .t1 { 
                font-size: 130px;
                font-weight: 700;
                color: $darkgray;
                line-height: 48px;
                letter-spacing: 2px;
                margin-bottom: 40px;
                span {
                    font-size: 48px;
                    font-weight: 700;
                    color: $darkgray;
                    padding-bottom: 30px;
                }
            }
            
        }
        .welcome__text__to {
            padding: 25px 0 25px 0;
            text-transform: uppercase;
            .t2 {
                font-family: 'Crimson Text', serif; 
                text-transform: uppercase;
                text-align: left;
                padding: 0;
                font-size: 42px;
                letter-spacing: 25px;
                color: $gold;
                font-weight: 600;
            }
        }

        .welcome__text__mediavuk {
            /*position: relative;*/
            margin-bottom: 40px;
            .welcome__text__mediavuk-t3 {
                background: #3A3A3A;
                position: relative;
                text-align: center;
                height: 63px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 450px;
                margin-left: 20px;
                .t3 {
                    text-align: center;
                    padding: 0;
                    font-size: 32px;
                    color: #fff;
                    letter-spacing: 20px;
                    text-transform: uppercase;
                    line-height: 30px;
                    font-weight: bold; 
                }
                .welcome__text__colsuntants {
                    position: absolute;
                    left: 160px;
                    bottom: -30px;
                    width: 100%;
                p {
                    text-transform: uppercase;
                    color: $gold;
                    letter-spacing: 9px;
                    font-size: 15px;
                    font-weight: bold;
                }
            }
            }

        }

        .welcome__text__message {
            line-height: 30px;
            padding: 60px 0 35px 0;
            border-bottom: dotted 4px;
            width: 100%;
            p {
                font-size: 23px;
                letter-spacing: 5px;
                color: $darkgray;
                line-height: 59px;
                span {
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 25px;
                    letter-spacing: 8px;
                }
            }
        }
    }

        .welcome__icons {
            margin-left: 70px;
        img {
            width: 500px;
        }
    }
}
/****************** END: welcome section ******************/





/****************** START Content ******************/

.content {

}

/****************** START Content ******************/





/****************** START slider section ******************/

/* --- START Owl slider dotted ---*/
/*.button.owl-dot.active {
    background: black!important;
    border: none!important;
    padding: 10px!important;
}*/

/* --- END Owl slider dotted ---*/


.slider {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: dotted 4px;
    .owl-carousel  {
        .owl-stage-outer {
            /*height: 500px!important;*/
        }
    }
    .slider__title {
        font-weight: bold;
        text-transform: uppercase;
        h1 {
            position:  relative;
            display: block;
            &:before {
                content: '';
                width: 86px;
                height: 6px;
                background: $gold;
                position: absolute;
                margin: auto;
                left: 0;
                top: -25px;
                right: 0;
            }
        }
    }
    .slider__owl {
        width: 100%;
        img {
            width: 80%;
        }
        .slider-row {
            position: relative;
            width: 100%;
            padding-bottom: 150px;
            .window-slider {
                position: absolute;
                bottom: 0;
                right: 0;
                border: solid 5px #a78f5f;
                width: 35%;
                background: #fff;
                padding: 40px 52px 40px 50px;
                .window-slider__text {
                    position: relative;
                    width: 75%;
                    .arrow-slider {
                        position: absolute;     
                        width: 50px;
                        height: 50px;
                        right: -80px;
                        bottom: -15px;
                        transition: 0.2s;
                        &:hover {
                            right: -100px;
                            bottom: -15px;
                            transition: 0.2s;
                        }
                    }
                    .identityTxt {
                        font-family: 'Crimson Text', serif;
                        font-size: 23px;
                        letter-spacing: 1px;
                        line-height: 42px;
                        color: $darkgray;
                    }
                    .brandingTxt {
                        text-transform: uppercase;
                        color: $gold;
                        font-weight: bold;
                        font-size: 32px;
                        letter-spacing: 7px;
                        line-height: 50px;
                        margin-bottom: 30px;
                        margin-top: 30px;
                    }
                    .clientTxt {
                        font-size: 26px;
                        letter-spacing: 2px;
                        color: $darkgray;
                        font-family: 'Crimson Text', serif;
                        span {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    .slider__all-work {
        margin-bottom: 30px;
        margin-top: 30px;
        width: 100%;
        text-align: right;
        a {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 7px;
            text-decoration: none;
            color: $darkgray;
        }
    }
}

/****************** END: slider section ******************/




/****************** START services section ******************/

.services {
    .services__title {
        display: flex;
        justify-content: center;
        align-items: baseline;
        h1 {
            position: relative;
            border: solid 5px black;
            padding: 60px 50px 60px 50px;
            background: #fff;
            .patternContentText {
                width: 99%;
                position: absolute;
                background: url(../img/patternbg.png) repeat;
                height: 97%;
                top: 34px;
                right: -30px;
                z-index: -1;
            }
        }
    }

    .services__icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        .icons {
            z-index: 1;
            width: 33%;
            text-align: center;
            transition: 0.2s;
            position: relative;
            margin-top: 70px;
            margin-bottom: 70px;
            .icons-title {
                margin-top: 60px;
            }
            .icons__hover {
                /* display: none; */
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                right: 0;
                transition: 0.2s;
                bottom: 0;
                margin: auto;
                &:hover {
                    opacity: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    transition: 0.2s;
                    padding-bottom: 10px;
                    color: #fff;
                }
            }
        }
    }
}

/****************** END: services section ******************/



/****************** END: Content ******************/





/****************** START service PAGE ******************/
/****************** START service CONTENT ******************/

/* START service framework */
.service-text {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    line-height: 25px;
}

.service-title {
    position: relative;
    &:before {
        content: '';
        width: 86px;
        height: 6px;
        background: #A99160;
        position: absolute;
        margin: auto;
        left: 0;
        top: -25px;
    }
}

.service-button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 7px;
    text-decoration: none;
    color: #3A3A3A;
    border: solid 3px black;
    padding: 10px 40px 10px 40px;
    background: #94eae5;
}

.service-flex-start {
    justify-content: flex-start;
}

.service-flex-end {
    justify-content: flex-end;
}
/* END: service framework */

.service-content {
    .service {
        border-bottom: dotted 3px;
        .service__header {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            .service__header__title {
                text-align: center;
                display: flex;
                justify-content: center;
                h1 {
                    width: 30%;
                    position: relative;margin-bottom: 40px;
                    &:before {
                        content: '';
                        width: 86px;
                        height: 6px;
                        background: $gold;
                        position: absolute;
                        margin: auto;
                        left: 0;
                        top: -25px;
                        right: 0;
                    }
                }
            }
        }

        .service__description {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .description__text {
                width: 60%;
            }
            .description__box {
                width: 30%;
                .box {
                    position: relative;
                    border: solid 5px black;
                    padding: 40px 30px 40px 30px;
                    background: #94eae5;
                    a {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 20px;
                        letter-spacing: 5px;
                        line-height: 30px;
                        text-decoration: none;
                        color: #3A3A3A;
                    }
                    .patternContentText {
                        width: 100%;
                        position: absolute;
                        background: url(../img/patternbg.png) repeat;
                        height: 98%;
                        top: 34px;
                        right: -30px;
                        z-index: -1;
                    }
                }
            }
            .description__img {
                width: 85%;
                img {
                    width: 100%;
                }
            }
        }

        .service__content {
            .reputation {
                display: flex;
                flex-wrap: wrap;
                .reputation__title {
                    width: 39%;
                }
                .reputation__text-button {
                    width: 60%;
                    .text-button {
                        margin-top: 40px;
                    }
                }
                .reputation__img {
                    width: 85%;
                    img {
                        width: 100%;
                    }
                }
            } 
        }
    }
}
/****************** END: service CONTENT ******************/
/****************** END: service PAGE ******************/






/****************** START privacy-polisy PAGE ******************/
/****************** START privacy-polisy CONTENT ******************/

.pp-content {
    .pp {
        .pp__header {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            .pp__header__title {
                text-align: center;
                display: flex;
                justify-content: center;
                h1 {
                    position: relative;
                    margin-bottom: 40px;
                    &:before {
                        content: '';
                        width: 86px;
                        height: 6px;
                        background: #A99160;
                        position: absolute;
                        margin: auto;
                        left: 0;
                        top: -25px;
                        right: 0;
                    }
                }
            }
        }

        .pp__text {
            border-bottom: dotted 4px;
            margin-top: 50px;
            margin-bottom: 50px;
            .pp__text__title {
                padding-left: 25px;
                margin-bottom: 35px;
                li {
                    font-size: 30px;
                    font-family: 'Crimson Text', serif;
                    color: $gold;
                    font-weight: bold;
                    letter-spacing: 3px;
                    list-style: disc;
                }
            }
            .pp__text__txt {
                li {
                    line-height: 25px;
                    letter-spacing: 0.05em;
                    color: #333;
                    margin-bottom: 35px;
                }
            }
        }
    }
}

/****************** END: privacy-polisy CONTENT ******************/
/****************** END: privacy-polisy PAGE ******************/







/****************** START footer ******************/

/* START framework for footer content */
.footer-title {
    position: relative;
    font-size: 20px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 700;
    color: $gold;
    padding-bottom: 30px;
}

.footer-link {
    text-decoration: none;
    color: $lightgray;
    font-size: 15px;
    letter-spacing: 0.2em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 33px;
    transition: 0.2s;
    &:hover {
        color: #706449;
        transition: 0.2s;
    }
}

.footer-link-contact {
    text-decoration: none;
    color: #959595;
    font-size: 15px;
    letter-spacing: 0.2em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 33px;
    transition: 0.2s;
    &:hover {
        color: #706449;
        transition: 0.2s;
    }
    span {
        color: $lightgray;
        font-weight: 700;
    }
}

.before-f-title {
    position: relative;
    &:before {
        content: '';
        width: 60px;
        height: 4px;
        background: $gold;
        position: absolute;
        margin: auto;
        left: 0;
        top: -25px;
    }
}
/* END: framework for footer content */


/* START footer content */
footer {
    .footer-content { 
        background: url('../img/Footer.jpg') repeat;
        .footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 80%;
            margin: 0 auto;
            padding-top: 70px;
            padding-bottom: 70px;
            .footer__logo {
                align-self: center;
            }
        }

    }
    .footerWrap {
        padding: 35px 0 25px 0;
        .footerWrap__Sicons {
            text-align: center;
            margin-bottom: 30px;
            li {
                display: inline-block;
                margin-right: 12px;
            }
        }
        .footerWrap__footer-menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 40%;
            margin: 0 auto;
            li {
                font-size: 14px;
                line-height: 23px;
                font-weight: 400;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: $gold;
                a {
                    text-decoration: none;
                    color: $gold;
                    letter-spacing: 0.2em;
                }
            }
        }
        .footerWrap__footerTxt {
            font-family: 'Crimson Text', serif;
            font-size: 15px;
            line-height: 20px;
            color: #686868;
            padding: 10px 0 0 0;
            text-align: center;
            letter-spacing: 0.05em;
            a {
                text-decoration: none;
                color: #686868;
            }
            .icon-gold_heart {
                &:before {
                    content: "\e935";
                    color: #a99160;
                }
            }
        }
    }
}   

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon', sans-serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* END: footer content */

/****************** END footer ******************/

/****************** END: WEBSITE BODY ******************/






/****************** START RESPONSIVE ******************/

@media only screen and (max-width: 1300px) {
    .page-structure {
        .background-img {
            display: none;
        }
    }

    /* START Welcome responsive */
    .welcome {
        justify-content: center;
        .welcome__text {
            width: 60%;
        }
        .welcome__icons {
            margin-left: 0;
            margin-top: 50px;
            img {
                width: 100%;
            }
        }
    }
    /* END: Welcome responsive */


    /* START services responsive */
    .services {
        .services__icons {
            .icons {
                width: 50%;
            }
        }
    }
    /* END: services responsive */


     /* START Footer responsive */
    footer {
        .footerWrap {
            .footerWrap__footer-menu {
                width: 60%;
            }
        }
    }
    /* END: Footer responsive */
}


@media only screen and (max-width: 1200px) {
    .service-content {
        padding: 40px;
        .service {
            .service__header {
                .service__header__title {
                    h1 {
                        width: auto;
                    }
                }
            }
            .service__content {
                .reputation {
                    .reputation__img, .reputation__title, .reputation__text-button {
                        width: auto;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1036px) {
    .service-content {
        .service {
            .service__description {
                justify-content: center;
               .description__text, .description__box {
                    width: auto;
               }
               .description__box {
                    margin-top: 50px;
               }
            }
        }
    }
}


@media only screen and (max-width: 980px) {
    .menu-content {
        padding: 40px;
    }

    .pp-content {
        padding: 40px;
    }

    /* START Slider responsive */
    .slider {
        .slider__owl {
            .slider-row {
                img {
                    width: 100%;
                }

                .window-slider {
                    width: 80%;
                    padding: 30px 40px 30px 40px;
                    .window-slider__text {
                        width: 100%;
                        .arrow-slider {
                            right: -10px;
                            &:hover {
                                right: -20px;
                            }
                        }
                        .brandingTxt {
                            font-size: 25px;
                            margin-bottom: 20px;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
    /* END: Slider responsive */
}

@media only screen and (max-width: 830px) {

    /* START Welcome responsive */
    .welcome {
        .welcome__text {
            width: 85%;
            .welcome__text__to {
                .t2 {
                    font-size: 35px;
                }
            }

            .welcome__text__mediavuk {
                .welcome__text__mediavuk-t3 {
                    padding: 5px 0px 5px 15px;
                    width: 60%;
                }
            } 
            .welcome__text__message {
                padding: 40px 0 35px 0;
                p {
                    line-height: 45px;
                    text-align: center;
                    letter-spacing: 3px;
                }
            }
        } 
    }
    /* END: Welcome responsive */



    /* START services responsive */
    .services {
        .services__icons {
            .icons {
                width: 70%;
                .sub-title {
                    font-size: 22px;
                    letter-spacing: 6px;
                    line-height: 32px;
                }
            }
        }
    }
    /* END: services responsive */


    /* START Footer responsive */
    footer {
        .footer-content {
            .footer {
                .footer__job-positions, .footer__logo, .footer__contact {
                    width: 100%;
                    text-align: center;
                    margin-top: 60px;
                }
            .before-f-title {
                    &::before {
                        right: 0;
                    }
                }
            }
        }
        .footerWrap {
            .footerWrap__footer-menu {
                width: 80%;
            }
        }
    }
    /* END: Footer responsive */
}


@media only screen and (max-width: 780px) {
    /* START Welcome responsive */
    .welcome {
        .welcome__text {
            .welcome__text__mediavuk {
                .welcome__text__mediavuk-t3 {
                    width: 80%;
                    .welcome__text__colsuntants {
                        left: 80px;
                        p {
                            letter-spacing: 7px;
                            font-size: 12px;
                        }
                    }
                }
            }
        } 
    }
    /* END: Welcome responsive */
}


@media only screen and (max-width: 730px) {

    /* START Footer responsive */
    footer {
        .footerWrap {
            .footerWrap__footer-menu {
                width: 90%;
            }
        }
    }
    /* END: Footer responsive */
}



@media only screen and (max-width: 570px) {

    /* START welcome */
    .welcome {
        .welcome__text {
            .welcome__text__to {
                .t2 {
                    font-size: 25px;
                    letter-spacing: 10px;
                }
            }
        }
    }
    /* END: welcome */

    /* START Footer responsive */
    footer {
        .footerWrap {
            .footerWrap__footer-menu {
                justify-content: center;
                li {
                    padding-right: 15px;
                }
            }
        }
    }
    /* END: Footer responsive */
}


@media only screen and (max-width: 640px) {
    .menu-content {
        .menu {
            justify-content: center;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 425px) {
    .welcome {
        .welcome__text {
            .welcome__text__hello {
                .t1 {
                    font-size: 115px;
                }
            }
            .welcome__text__mediavuk {
                .welcome__text__mediavuk-t3 {
                    width: 100%;
                    margin-left: 0;
                    .welcome__text__colsuntants {
                        left: 0px;
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 320px) {
    .welcome {
        .welcome__text {
            .welcome__text__mediavuk {
                .welcome__text__mediavuk-t3 {
                    width: 100%;
                    margin-left: 0;
                    .t3 {
                        font-size: 25px;
                    }
                    .welcome__text__colsuntants {
                        left: 0px;
                        p {
                            letter-spacing: 6px;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
/****************** END: RESPONSIVE ****************/